<div class="series-container">
    <div *ngFor="let serie of seriesList" class="serie-card">
      <h2>{{ serie.name }}</h2>
      <div class="poster-container">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + serie.poster_path" alt="{{ serie.name }} Poster">
      </div>
     
      <div class="overview-container">
        <p class="overview">{{ serie.overview }}</p>
      </div>
      <p class="vote-average">Porcentaje de aprobación: {{ serie.vote_average }}</p>
    </div>
  </div>
  

<!-- 
 <button (click)="verDetalle(pelicula.id)" class="boton-elevado" >Ver Detalle</button>-->