<div *ngIf="serie" class="serie-details">
    <img [src]="'https://image.tmdb.org/t/p/original/' + serie.poster_path" alt="{{ serie.name }}" class="serie-poster">
    <div class="serie-info">
      <h2 class="serie-title">{{ serie.name }}</h2>
      <p class="serie-name">{{ serie.name }}</p>
      <p class="serie-overview">{{ serie.overview }}</p>
  
      <div class="serie-details-info">
        <p><strong>Fecha de estreno:</strong> {{ serie.first_air_date }}</p>
        <p><strong>País de origen:</strong> {{ serie.origin_country }}</p>
        <p><strong>Rating:</strong> {{ serie.vote_average }}</p>
      </div>
    </div>
  </div>
  <!-- imagenes  imagenes  imagenes  imagenes  imagenes  imagenes -->
  <div>
    <h4>Imagenes</h4>
    <ngb-carousel #carouselImg [interval]="3000" class="my-carousel">
        <ng-template ngbSlide *ngFor="let img of backdrops; index as i">
            <div class="carousel-caption">
            </div>
            <div class="picsum-img-wrapper">
                <img [src]="'https://image.tmdb.org/t/p/original/' + img.file_path"
                    [alt]="'Slide ' + (i + 1) + ' description'" />
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<!--  Peliculas similares    Peliculas similares    Peliculas similares    Peliculas similares    Peliculas similares  -->
<div *ngIf="serieSimilares.length > 0" >
  <h4>Peliculas similares</h4>
  <ngb-carousel #carouselImg [interval]="3000" class="my-carousel">
    <ng-template ngbSlide *ngFor="let serie of serieSimilares; index as i">
        <div class="carousel-caption">
        </div>
        <div class="title-container">
          <h5>{{ serie.original_name }}</h5>
        </div>
        <div class="picsum-img-wrapper">
            <img [src]="'https://image.tmdb.org/t/p/original/' + serie.backdrop_path"
                [alt]="'Slide ' + (i + 1) + ' description'" />
        </div>
    </ng-template>
</ngb-carousel>
</div>

<div class="episode-container">
  <div class="episode-card" *ngFor="let episodio of episodios">
    <h3>{{ episodio.name }}</h3>
    <p>Cantidad de episodios: {{ episodio.episode_count }}</p>
    <p>Descripción: {{ episodio.description }}</p>
  </div>
</div>
