.serie-details {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .serie-poster {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
  }
  
  .serie-info {
    flex-grow: 1;
  }
  
  .serie-title {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .serie-name {
    font-size: 1rem;
    margin-top: 5px;
    color: #777; /* Color de texto gris para el nombre de la serie */
  }
  
  .serie-overview {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .serie-details-info {
    margin-top: 20px;
  }
  
  .serie-details-info p {
    font-size: 1rem;
    margin: 5px 0;
  }

  .my-carousel .picsum-img-wrapper {
    background-color: black;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.my-carousel .picsum-img-wrapper img {
  height: auto;
  object-fit: cover;
  z-index: 2; 
}

.episode-container {
  display: flex;
  flex-wrap: wrap; /* Para que las tarjetas se envuelvan en múltiples filas si es necesario */
  justify-content: center; /* Centrar las tarjetas horizontalmente */
}

.episode-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  transition: box-shadow 0.3s ease-in-out;
  width: calc(33.33% - 20px); /* Para que haya tres columnas, ajustar según sea necesario */
  box-sizing: border-box; /* Incluir el padding en el ancho de la tarjeta */
}

.episode-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.episode-card h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.episode-card p {
  font-size: 1rem;
  margin: 5px 0;
}

